:root {
  // Prime colours
  --color-white: #{$white};
  --color-dark: #{$dark};
  --color-grey-light: #{$grey-light};

  --color-grey-40: #{$grey-40};
  --color-grey-60: #{$grey-60};
  --color-grey-90: #{$grey-90};

  --color-yellow: #{$yellow};
  --color-pink: #{$pink};
  --color-purple: #{$purple};
  --color-orange: #{$orange};

  // Semantic colours
  --color-info: #{$blue};
  --color-success: #{$green};
  --color-warning: #{$gold};
  --color-error: #{$red};
}
